:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --socials-link-color: #afb1b8;
  --light-txt-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --bg-color-header: #c4c4c4;
  --bg-color-footer: #2f303a;
  --accent-color: #2196f3;
  --accent-color-herobtn: #188ce8;
  --logo-header: #000000;
  --header-border: #ececec;
  --header-contacts-color: #757575;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --modal-input-border: rgba(33, 33, 33, 0.2);
  --primary-font-family: Roboto, sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --transition-options: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.address__link, .contacts__link, .nav__link {
  display: inline-block;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.clients__title, .team__title, .work__title, .hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--secondary-text-color);
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .clients__title, .team__title, .work__title, .hero__title {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__title, .team__title, .work__title, .hero__title {
    font-size: 36px;
    line-height: 1.17;
  }
}

.projects__subtitle, .team__subtitle, .preference__subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--secondary-text-color);
}

body {
  margin: 0;
  color: var(--primary-text-color);
  background-color: var(--light-txt-bg-color);
  font-family: var(--primary-font-family);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  color: var(--secondary-text-color);
  background-color: var(--secondary-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.button:hover, .button:focus {
  color: var(--light-txt-bg-color);
  background-color: var(--accent-color);
}

.header {
  border-bottom: 1px solid #ececec;
  position: relative;
}
@media screen and (max-width: 767.98px) {
  .header {
    height: 60px;
    padding: 16px 15px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-toggle {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid transparent;
  position: absolute;
  top: 10px;
  right: 15px;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.logo--header {
  display: block;
}
@media screen and (min-width: 768px) {
  .logo--header {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .logo--header {
    margin-right: 93px;
  }
}

.logo__text {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo__text--accent {
  color: var(--accent-color);
}

.logo__text--dark {
  color: var(--logo-header);
}

.logo__text--light {
  color: var(--light-txt-bg-color);
}

.logo--footer {
  margin-bottom: 20px;
  display: block;
}

@media screen and (max-width: 767.98px) {
  .nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  -webkit-transition: color var(--transition-options);
  transition: color var(--transition-options);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.nav__link--current {
  color: var(--accent-color);
}
.nav__link--current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  background-color: var(--accent-color);
}

@media screen and (max-width: 767.98px) {
  .contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 50px;
  }
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  color: var(--header-contacts-color);
  -webkit-transition: color var(--transition-options), fill var(--transition-options);
  transition: color var(--transition-options), fill var(--transition-options);
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contacts__link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts__icon {
  fill: currentColor;
  -webkit-transition: fill var(--transition-options);
  transition: fill var(--transition-options);
}

.hero {
  margin-right: auto;
  margin-left: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--bg-color-header);
  background-repeat: repeat, no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 480px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg_mobile.jpg);
    background-image: linear-gradient(180deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url(../images/hero-bg_mobile.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg_tablet.jpg);
    background-image: linear-gradient(180deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url(../images/hero-bg_tablet.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg_desktop.jpg);
    background-image: linear-gradient(180deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url(../images/hero-bg_desktop.jpg);
  }
}

.hero__title {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  color: var(--light-txt-bg-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 480px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.03em;
  }
}

.hero__button {
  padding: 10px 32px;
  min-width: 216px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--light-txt-bg-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  -webkit-transition: background-color var(--transition-options);
  transition: background-color var(--transition-options);
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--accent-color-herobtn);
}

.preference {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .preference {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.preference__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.preference__item {
  -ms-flex-preferred-size: calc((100% - 0px) / 1);
      flex-basis: calc((100% - 0px) / 1);
}
@media screen and (min-width: 768px) {
  .preference__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .preference__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}

.preferences__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--secondary-bg-color);
}

.preference__subtitle {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 1199.98px) {
  .work {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .work {
    padding-top: 0;
    padding-bottom: 94px;
  }
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work__item {
  position: relative;
}

.work__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
}

.work__descr {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-txt-bg-color);
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bg-color);
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

@media screen and (min-width: 480px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 0px) / 1);
        flex-basis: calc((100% - 0px) / 1);
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}

.team__box {
  padding-bottom: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--light-txt-bg-color);
  text-align: center;
}

.team__img {
  margin-bottom: 30px;
  width: 100%;
}

.team__subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--socials-link-color);
  -webkit-transition: color var(--transition-options), background-color var(--transition-options);
  transition: color var(--transition-options), background-color var(--transition-options);
}
.socials__link:hover, .socials__link:focus {
  color: var(--secondary-bg-color);
  background-color: var(--accent-color);
}

.socials__icon {
  fill: currentColor;
  -webkit-transition: fill var(--transition-options);
  transition: fill var(--transition-options);
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.clients__item {
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 150px) / 6);
        flex-basis: calc((100% - 150px) / 6);
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 92px;
  border: 1px solid var(--socials-link-color);
  border-radius: 4px;
  color: var(--socials-link-color);
  -webkit-transition: color var(--transition-options), border-color var(--transition-options);
  transition: color var(--transition-options), border-color var(--transition-options);
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients__logo {
  fill: currentColor;
}

.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__item:first-child .filter__btn {
  padding: 6px 25px;
}

.filter__btn {
  display: block;
  padding: 6px 22px;
  min-width: 73px;
  -webkit-transition: color var(--transition-options), background-color var(--transition-options), -webkit-box-shadow var(--transition-options);
  transition: color var(--transition-options), background-color var(--transition-options), -webkit-box-shadow var(--transition-options);
  transition: color var(--transition-options), background-color var(--transition-options), box-shadow var(--transition-options);
  transition: color var(--transition-options), background-color var(--transition-options), box-shadow var(--transition-options), -webkit-box-shadow var(--transition-options);
}
.filter__btn:hover, .filter__btn:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
  padding-top: 60px;
  padding-bottom: 60px;
}

.projects__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
}

.projects__link {
  display: inline-block;
  -webkit-transition: -webkit-transform var(--transition-options), -webkit-box-shadow var(--transition-options);
  transition: -webkit-transform var(--transition-options), -webkit-box-shadow var(--transition-options);
  transition: transform var(--transition-options), box-shadow var(--transition-options);
  transition: transform var(--transition-options), box-shadow var(--transition-options), -webkit-transform var(--transition-options), -webkit-box-shadow var(--transition-options);
}
.projects__link:hover, .projects__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects__link:hover .projects__overlay-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.projects__img-box {
  position: relative;
  overflow: hidden;
}

.projects__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.projects__subtitle-box {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  position: relative;
  z-index: 10;
}

.projects__subtitle {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects__category {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.projects__overlay-text {
  color: var(--light-txt-bg-color);
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  position: absolute;
  top: 0;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  z-index: 3;
  -webkit-transition: -webkit-transform var(--transition-options);
  transition: -webkit-transform var(--transition-options);
  transition: transform var(--transition-options);
  transition: transform var(--transition-options), -webkit-transform var(--transition-options);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-color-footer);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 70px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 1199.98px) {
  .footer__box {
    text-align: center;
  }
}

.footer__subtitle {
  margin-bottom: 20px;
  color: var(--light-txt-bg-color);
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

.footer__socials-link {
  color: var(--light-txt-bg-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.address__text {
  margin-bottom: 9px;
  color: var(--light-txt-bg-color);
  font-style: normal;
}

.address__link {
  color: var(--footer-contacts-color);
  font-style: normal;
  text-decoration: none;
  -webkit-transition: color var(--transition-options);
  transition: color var(--transition-options);
}
.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.address__item:first-child {
  margin-bottom: 9px;
}

.mailing-form__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mailing-form__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .mailing-form__wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 12px;
  }
}

.mailing-form {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.mailing-form__label {
  text-align: center;
}

.mailing-form__field {
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  color: inherit;
  outline: unset;
}
@media screen and (max-width: 1199.98px) {
  .mailing-form__field {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .mailing-form__field {
    width: 358px;
  }
}
.mailing-form__field:focus {
  border-color: var(--accent-color);
  color: var(--light-txt-bg-color);
}

.mailing-btn {
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  color: var(--light-txt-bg-color);
  background-color: var(--accent-color);
  -webkit-transition: background-color var(--transition-options);
  transition: background-color var(--transition-options);
}
.mailing-btn:hover, .mailing-btn:focus {
  background-color: var(--accent-color-herobtn);
}

.mailing-btn__text {
  display: block;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 48, 58, 0.4);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  -webkit-transition: opacity var(--transition-options), visibility var(--transition-options);
  transition: opacity var(--transition-options), visibility var(--transition-options);
}

.backdrop--is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop--is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.modal {
  padding: 40px;
  width: 528px;
  min-height: 581px;
  background-color: var(--light-txt-bg-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform var(--transition-options);
  transition: -webkit-transform var(--transition-options);
  transition: transform var(--transition-options);
  transition: transform var(--transition-options), -webkit-transform var(--transition-options);
}

.close-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  background-color: var(--light-txt-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
}
.close-btn:hover .close-btn-icon, .close-btn:focus .close-btn-icon {
  fill: var(--accent-color);
}

.close-btn-icon {
  -webkit-transition: fill var(--transition-options);
  transition: fill var(--transition-options);
}

.modal__descr {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-text-color);
}

.callback-form {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--header-contacts-color);
}

.callback-form__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.callback-form__label {
  display: block;
  margin-bottom: 4px;
}

.callback-form__group {
  margin-bottom: 10px;
  position: relative;
}

.callback-form__icon-box {
  width: 18px;
  height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.callback-form__icon {
  fill: var(--secondary-text-color);
  -webkit-transition: fill var(--transition-options);
  transition: fill var(--transition-options);
}

.callback-form__field {
  width: 100%;
  height: 40px;
  border: 1px solid var(--modal-input-border);
  border-radius: 4px;
  padding: 12px 42px;
  outline: unset;
  -webkit-transition: border-color var(--transition-options);
  transition: border-color var(--transition-options);
}
.callback-form__field:focus {
  border-color: var(--accent-color);
}
.callback-form__field:focus + .callback-form__icon-box .callback-form__icon {
  fill: var(--accent-color);
}

.callback-form__textarea {
  padding: 12px 16px;
  height: 120px;
  border: 1px solid var(--modal-input-border);
  border-radius: 4px;
  outline: unset;
  resize: none;
}
.callback-form__textarea:focus {
  border-color: var(--accent-color);
}

.callback-form__agreement {
  margin-bottom: 30px;
  min-width: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 9px;
}

.callback-form__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 16px;
  height: 15px;
  border: 2px solid var(--secondary-text-color);
  border-radius: 2px;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0;
}
.callback-form__checkbox:checked {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-size: 11px 8px;
}

.callback-form__agreement-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.callback-form__link {
  color: var(--accent-color);
  -webkit-transform: color var(--transition-options);
          transform: color var(--transition-options);
}
.callback-form__link:hover, .callback-form__link:focus {
  color: var(--accent-color-herobtn);
}

.submit-btn {
  display: block;
  margin: 0 auto;
  min-width: 200px;
  padding: 10px 52px;
  color: var(--light-txt-bg-color);
  background-color: var(--accent-color);
  -webkit-transition: background-color var(--transition-options);
  transition: background-color var(--transition-options);
}
.submit-btn:focus {
  background-color: var(--accent-color-herobtn);
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--light-txt-bg-color);
  z-index: 999;
  -webkit-transform: translateX(101%);
          transform: translateX(101%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  position: absolute;
  top: 10px;
  right: 15px;
}
.menu-container .menu-toggle:hover, .menu-container .menu-toggle:focus {
  color: var(--accent-color);
}

.mobile-menu__nav {
  margin-bottom: auto;
}

.mobile-menu__nav .nav__link {
  padding: 0;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.mobile-menu__nav .nav__item:not(:last-child),
.mobile-menu__contacts .contacts__item:not(:last-child) {
  padding-bottom: 32px;
}

.mobile-menu__contacts {
  margin-bottom: 64px;
}

.mobile-menu__contacts .contacts__link {
  padding: 0;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.mobile-menu__contacts .contacts__link:hover,
.mobile-menu__contacts .contacts__link:focus {
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.mobile-menu__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-menu__item:not(:first-child) {
  padding-left: 10px;
}

.mobile-menu__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu__link {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}/*# sourceMappingURL=main.css.map */