.footer {
  @include section;

  background-color: var(--bg-color-footer);
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 60px;
  align-items: center;

  @media screen and (min-width:1200px) {
    flex-direction: row;
    gap: 70px;
    align-items: baseline;
  }
}

.footer__box {
  @media screen and (max-width:1199.98px) {
    text-align: center;
  }
}

.footer__subtitle {
  margin-bottom: 20px;

  color: var(--light-txt-bg-color);

  @include font(14px, 1.17);

  text-transform: uppercase;
  text-align: center;
}

.footer__socials-link {
  color: var(--light-txt-bg-color);
  background-color: rgba(255, 255, 255, 0.1);
}
