.header {
  @media screen and (max-width: 767.98px) {
    height: 60px;
  }

  @media screen and (min-width: 768px) {
    height: 80px;
  }

  border-bottom: 1px solid #ececec;
}

.header__container {
  @media screen and (max-width: 767.98px) {
    padding: 10px 15px;
  }

  display: flex;
  align-items: center;

  position: relative;
}

.menu-toggle {
  @media screen and (min-width: 768px) {
    display: none;
  }

  background-color: transparent;
  border: 1px solid transparent;

  position: absolute;
  right: 15px;
}
