.hero {
  margin-right: auto;
  margin-left: auto;
  padding-top: 118px;
  padding-bottom: 118px;

  @media screen and (min-width:1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  background-color: var(--bg-color-header);

  @media screen and (min-width: 480px) {
    background-image: linear-gradient(180deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%),
      url(../images/hero-bg_mobile.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(180deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%),
      url(../images/hero-bg_tablet.jpg);
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(180deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%),
      url(../images/hero-bg_desktop.jpg);
  }

  background-repeat: repeat, no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.hero__title {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  color: var(--light-txt-bg-color);
  font-weight: 900;
  @extend %title;
  @include font(26px, 1.62, 0.06em);
  text-transform: uppercase;

  @media screen and (min-width:480px) {
    width: 360px;
  }

  @media screen and (min-width:768px) {
    width: 360px;
  }

  @media screen and (min-width:1200px) {
    width: 696px;
    @include font(44px, 1.36);
  }
}

.hero__button {
  padding: 10px 32px;
  min-width: 216px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  color: var(--light-txt-bg-color);
  background-color: var(--accent-color);
  font-weight: 700;

  @include font(14px, 1.88, 0.06em);

  transition: background-color var(--transition-options);

  &:hover,
  &:focus {
    background-color: var(--accent-color-herobtn);
  }
}
