.logo--header {
  display: block;

  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.logo__text {
  font-family: var(--secondary-font-family);
  font-weight: 700;

  @include font(26px, 1.19);
}

.logo__text--accent {
  color: var(--accent-color);
}

.logo__text--dark {
  color: var(--logo-header);
}

.logo__text--light {
  color: var(--light-txt-bg-color);
}

.logo--footer {
  margin-bottom: 20px;
  display: block;
}
