.socials {
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  .socials__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    color: var(--socials-link-color);

    transition: color var(--transition-options), background-color var(--transition-options);

    &:hover,
    &:focus {
      color: var(--secondary-bg-color);
      background-color: var(--accent-color);
    }
  }

  .socials__icon {
    fill: currentColor;

    transition: fill var(--transition-options);
  }