@mixin section($pt: 60px, $pb: 60px) {
    padding-top: $pt;
    padding-bottom: $pb;
}

@mixin font($fs: 14px, $lh: 1.71, $ls: 0.03em) {
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
}

@mixin grid {
  display: flex;
  flex-wrap: wrap;
  gap: $indent;
}

@mixin grid-item($item: 1) {
  flex-basis: calc((100% - $indent * ($item - 1)) / $item);
}